---
const { title } = Astro.props;
---

<html lang="en" class="!scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot/>
    </body>
</html>


<style global>
    .title{
     /* color: #d2f62a; background-image: -webkit-linear-gradient(0deg, #d2f62a 21%, #d3f406 6%, #eac576 40%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent; */
        color: #ffff;
    }

    body{
        background: rgb(4,11,11);
        background: linear-gradient(120deg, rgba(4,11,11,1) 0%, rgba(27,75,6,1) 100%);
    }
</style>